.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo {
    max-width: 100%;
    width: 200px;
}

.connect {
    margin-right: 0.5rem;
    font-weight: bold;
}

.icon {
    margin-right: 5px;
}